@import "variables";

html {
  background-color: lightcyan;
  display: flex;
  justify-content: center;

  #app {
    width: $app_width;
    height: $app_height;
    margin: $app_margin;
    max-width: $app_maxWidth;
    background-color: white;
    font-family: $font_general;

    .view {
      background-color: lightgreen;
    }
  }
}