html {
  background-color: lightcyan;

  #app {
    width: 90vw;
    height: calc(100vh - 30px);
    margin: 15px auto;
    max-width: 1000px;
    background-color: white;
    font-family: 'Roboto Slab', serif;

    .view {
      background-color: lightgreen;
    }
  }
}