.home {
  width: 100%;
  background-color: #9ACCCD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $home_height_small;
  
  @include medium-screen {
    flex-direction: row;
    height: $home_height_large;
  }

  img {
    width: 100%;
    max-height: $home_height_large;
    object-fit: contain;
  }
}