#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  height: $nav_height_small;

  @include medium-screen {
    flex-direction: row;
    align-items: flex-end;
    height: $nav_height_large;
  }

  #title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0 0;

    @include medium-screen {
      align-items: flex-start;
      margin: 0;
    }

    h1 {
      font-family: $font_name;
      font-size: 180%;
      line-height: 80%;
      margin: 0;
  
      @include medium-screen {
        margin: 10px 0 0 0;
      }
    }

    h5 {
      font-family: $font_general;
      margin: 0;
      font-weight: 200;
      color: grey;
      letter-spacing: 3px;
    }
  }

  #nav-links {
    display: flex;
    width: 100%;

    @include medium-screen {
      width: 45%;
    }
  }

  .router-link {
    color: #496364;
    text-decoration: inherit;
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}