#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  height: $nav_height_small;

  @include medium-screen {
    flex-direction: row;
    align-items: flex-end;
    height: $nav_height_large;
  }

  h1 {
    margin: 15px auto 30px;
    font-family: $font_name;
    font-size: 180%;
    line-height: 80%;

    @include medium-screen {
      margin: 10px 0 0 0;
    }
  }

  #nav-links {
    display: flex;
    width: 100%;

    @include medium-screen {
      width: 45%;
    }
  }

  .router-link {
    color: #496364;
    text-decoration: inherit;
    width: 25%;
    text-align: center;
  }
}