// element sizes

$app_margin: 15px;
$app_height: calc(100vh - #{$app_margin} * 2);
$app_width: calc(100vw - #{$app_margin} * 2);
$app_maxWidth: 1000px;

$nav_height_small: 90px;
$nav_height_large: 7vh;

$home_height_small: calc(100% - #{$nav_height_small} - #{$app_margin} * 2);
$home_height_large: calc(100% - #{$nav_height_large} - #{$app_margin} * 2);

$home_img_maxHeight: calc(100% - #{$nav_height_large});

// fonts

@mixin title-font {
  font-family: 'Special Elite', cursive;
  font-size: 180%;
  line-height: 80%;
  @content;
}

@mixin link-font {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 3px;
  font-weight: 200;
  text-transform: lowercase;
  @content;

  @include extraSmall-screen {
    letter-spacing: 1px;
  }
}

@mixin  general-font {
  font-family: 'Roboto Slab', serif;
}